<%= form_for(usuario_evento) do |f| %>
  <% if usuario_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario_evento.errors.count, "error") %> prohibited this usuario_evento from being saved:</h2>

      <ul>
      <% usuario_evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>

  <div class="field">
    <%= f.label :mensagem %>
    <%= f.text_field :mensagem %>
  </div>

  <div class="field">
    <%= f.label :hora_inicio %>
    <%= f.time_select :hora_inicio %>
  </div>

  <div class="field">
    <%= f.label :hora_fim %>
    <%= f.time_select :hora_fim %>
  </div>

  <div class="field">
    <%= f.label :evento_id %>
    <%= f.text_field :evento_id %>
  </div>

  <div class="field">
    <%= f.label :usuario_id %>
    <%= f.text_field :usuario_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
