<p id="notice"><%= notice %></p>

<h1>Usuario Eventos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Mensagem</th>
      <th>Hora inicio</th>
      <th>Hora fim</th>
      <th>Evento</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuario_eventos.each do |usuario_evento| %>
      <tr>
        <td><%= usuario_evento.data %></td>
        <td><%= usuario_evento.mensagem %></td>
        <td><%= usuario_evento.hora_inicio %></td>
        <td><%= usuario_evento.hora_fim %></td>
        <td><%= usuario_evento.evento.nome %></td>
        <td><%= usuario_evento.usuario.nome %></td>
        <td><%= link_to 'Show', usuario_evento %></td>
        <td><%= link_to 'Edit', edit_usuario_evento_path(usuario_evento) %></td>
        <td><%= link_to 'Destroy', usuario_evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario Evento', new_usuario_evento_path %>
