<h1>Login</h1>
<%if @user_session.errors.has_key? :base %>
    <div id="error_explanation">
        <%= @user_session.errors[:base].join(', ') %>
    </div>
<% end %>

<%= form_for(@user_session) do |f| %>
    <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to  "logout", user_sessions_path(id: current_user), method: :delete %>
<% end %>
    